@import "../../variables.scss";

.container {
  position: relative;

  margin: 5em auto;
  padding: 2em 1em 4em;

  width: 100%;
  max-width: 300px;

  background: $box-color;
  border: 1px solid $border-color;
  border-radius: 0.5em;

  display: flex;
  flex-direction: column;
  text-align: center;

  .number h1 {
    font-size: 5em;
    line-height: 0;
  }

  .status {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 0.6em auto 3em;

    span {
      font-size: 1.2em;
      font-weight: 600;

      margin-top: 0.5em;
      padding: 0.1em 1em;
      width: fit-content;

      border: 1px solid rgba(0, 0, 0, 0.1);
      border-radius: 3px;
      background-color: $border-color;

      &.ACCEPTED {
        background-color: #198754;
        color: white;
      }
    }
  }
}
